@import "bourbon/bourbon";
@import "colours";
@import "defaults";

header, footer {
  background-color: #f9f9f9;
  @include box-sizing(border-box);
  a.link {
    @include inline-block;
    @include box-sizing(border-box);
    margin: 0 ;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 12px;
    color: #303038;
    padding: 8px 10px;
    text-align: center;
    border-radius: 3px;
    &:hover, &.active { -webkit-text-stroke: 1px rgba(0,0,0,0.3); @include transition(none !important); }
  }
  div.nav { opacity: 0.35; @include transition(all, 0.6s); }
  &:hover div.nav { opacity: 1; }
  @include clearfix;
}

@include keyframes(shake) {
  0% {
    @include transform(rotate(0deg));
  }
  25%  { @include transform(rotate(30deg)); }
  100% {
    @include transform(scale(-20deg));
  }
}

#cubes {
  width: 50px; height: 50px;
  background-image: url(/images/fav.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 40px;
  background-color: #fff;
  margin: 0px 15px 0 0;
}
header {
  padding: 30px 0 25px;
  h1:hover { 
    #cubes {
      background-image: url(/images/fav-orange.png);
      @include animation(shake 0.2s linear infinite);
    }
  }
  .nav { margin: 6px 0; }
  h1 { font-size: 26px; margin: 0; padding: 0; line-height: 1.17em; }
  p { margin: 0; font-size: 14px; }
  h1 a { color: darken($green, 25%); &:hover { color: darken($green, 35%); } }
  margin-bottom: 20px;
}

footer {
  padding: 20px 0 80px;
  margin-top: 20px;
  .item { margin-bottom: 8px; }
  a { line-height: 1.3em; }
  h4 { text-transform: uppercase; }
}

.wrapper {
  @include box-sizing(border-box);
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  > * { white-space: normal; }
}

#content {
  width: 70%;
  @include inline-block;
  @include box-sizing(border-box);
  vertical-align: top;
  padding: 10px 20px 10px 0;
}
h2 { margin-top: 0; font-size: 20px; }
#sidebar {
  @include inline-block;
  @include box-sizing(border-box);
  padding: 5px 10px 10px;
  width: 30%;
  vertical-align: top;
  > section {
    margin-bottom: 15px;
    .item { padding: 0 15px 15px; }
    input { width: 100%; }
    h3 {
      margin: 0 0 12px;
      text-transform: uppercase;
      padding: 6px 10px 2px 3px;
      font-size: 13px; color: #000;
    }
    p { margin: 0; }
    a {
      line-height: 1.3em;
      font-size: 13px;
    }
  }
}

ul.posts {
  li {
    &:last-of-type hr { display: none; }
    opacity: 0.8;
    @include transition(all, 0.3s);
    &:hover { opacity: 1; }
  }
}

.text-body {
  font-size: 15px;
}

section.share-links {
  text-align: center;
  margin: -10px 0;
  .button { 
    @include inline-block;
    vertical-align: top;
    height: 20px; 
    &.spaced { margin-right: 30px; }
  }
}