---
layout: onepage
title: Archive
---

{% for post in site.posts %}

  {% unless post.next %}
    <h2>{{ post.date | date: '%Y' }}</h2>
  {% else %}

    {% capture year %} {{ post.date | date: '%Y' }} {% endcapture %}
   
    {% capture nyear %} {{ post.next.date | date: '%Y' }} {% endcapture %}
   
    {% if year != nyear %}
   
      <hr /><h2>{{ post.date | date: '%Y' }}</h2>
    
    {% endif %}
  
  {% endunless %}

  {% capture month %} {{ post.date | date: '%B' }} {% endcapture %}
  {% capture nmonth %} {{ post.next.date | date: '%B' }} {% endcapture %}
  {% if month != nmonth %}
    <h4>{{ post.date | date:"%B" }}</h4>
  {% endif %}
  <ul class="posts">
    <li>
      <span class="muted">{{ post.date | date_to_string }} </span><a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  </ul>
{% endfor %}