@media (max-width: 640px) {
  #content, #sidebar, .two-ups {
    display: block;
    width: 100% !important;
    text-align: left; }

  #sidebar {
    padding: 0; }
    #sidebar section {
      border-top: 1px dotted #e0e0e0;
      padding-top: 20px; } }
