<html>
  <head>
    <meta content='{{ site.title }}' name='title' />
    <meta content='{{ site.title }}' name='og:title' />
    <meta content='{{ site.description }}' name='description' />
    <meta content='{{ site.description }}' name='og:description' />
    <title>{{ site.title }}</title>
    {% include head.html %}
    {% include ga.html %}
  </head>
  <body>

    {% include header.html %}
    <div class="wrapper">
      <br />
      <h2 class="a-c">{{page.title}}</h2>
      <hr />
      {{ content }}
      <br />
      <br />
    </div>
    {% include footer.html %}

  </body>
</html>